<!DOCTYPE html>
<html>
  <head>
    <title>Contribute your data</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script>
      // JavaScript function to show the pop-up and prevent form submission
      function showPopup() {
        alert("Response Saved!");
      }
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <div class = "container" style="padding-top:5%">
      <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.0); border:0px " >
          <div class="card-body">
              <h1 class="card-title" style="font-size:55px" font-color: "blue" > Contribute </h1>
              <h4 class="card-text"> 
                Tell us what you are doing with your food items and <br>
                contribute to our dataset here
              </h4>
          </div>
      </div>
    </div>

  </head>

  <body class="body-homepage">
    {% extends "tracker/base.html" %} {% load static %} {% block content %}
    
    <div
      class="container"
      style="padding-top: 1%; padding-bottom: 5%; width: 60%"
    >
    <div class="card" style="background-color: rgba(245, 245, 245, 0.9); padding-top:2% ">
      <h2 class="card-title" style="text-align: center;"> Log your food waste here </h2>
        <div class="card-body border-0" style="background-color:rgba(245, 245, 245, 0.9); border:0px">
          <div class="container" style="padding-top: 1%">
            <div class="row">
              <div class="col">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <form
                          onsubmit="return showPopup()"
                          action=""
                          method="POST"
                          id="contribution_form"
                        >
                          {% csrf_token %} {{form.as_p}}
                          <div class="alert alert-info alert-dismissible fade show" role="alert">
                            Not sure? Check our <a href="{% url 'food_tracker' %}" class="alert-link">food finder</a> for storage tips.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          
                          <input
                            type="submit"
                            value="Add my response"
                            style="
                              background-color: blue;
                              color: white;
                              border-radius: 5px;
                              border-width: 0px;
                              padding: 5x 15px;
                              font-size: large;
                            "
                          />
                          <a class="btn btn-link btn-medium" href ="{% url 'history' %}"> See all responses</a>
                          </a>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        $('.alert').alert()
      });
     </script>
    {% endblock %}
    

  </body>
</html>
