<!DOCTYPE html>
<html>
  <head>
    <title>Contribute your data</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script>
      // JavaScript function to show the pop-up and prevent form submission
      function showPopup() {
        alert("Response Saved!");
      }
    </script>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  </head>

  <body class="body-homepage">
    {% extends "tracker/base.html" %} {% load static %} {% block content %}
    <div
      class="container"
      style="padding-top: 10%; padding-bottom: 5%; width: 60%"
    >
      <div class="card" style="background-color: rgba(245, 245, 245, 0.8)">
        <div class="card-header text-center">
          <h1 style="font-family: 'Jost'">
            Contribute to our food waste <br />tracker here
          </h1>
        </div>
        <div class="card-body">
          <div class="container" style="padding-top: 20px">
            <div class="row">
              <div class="col">
                <div class="card h-100">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <form
                          onsubmit="return showPopup()"
                          action=""
                          method="POST"
                          id="contribution_form"
                        >
                          {% csrf_token %} {{form.as_p}}
                          <p style="text-align: right; font-size: medium">
                            Not sure? Check our 
                            <a href="{% url 'food_tracker' %}">
                              food finder</a
                            > for food storage tips.
                          </p>
                          <input
                            type="submit"
                            value="Add my response"
                            style="
                              background-color: blue;
                              color: white;
                              border-radius: 5px;
                              border-width: 0px;
                              padding: 5x 15px;
                              font-family: 'Jost';
                              font-size: large;
                            "
                          />
                          &emsp;<a href="{% url 'history' %}">
                            <u>See all responses </u>
                          </a>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    
 
  </body>
</html>
