{% load tags %}
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet", href="{% static 'css/main.css' %}">
        <nav class="navbar navbar-expand-lg navbar-transparent">
            <a class="navbar-brand" href="{% url 'intro' %}">WasteNot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'food_tracker' %}">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'history' %}">Data <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>

</head>
<body>
    <div id = "header">
        <div class = "pt-5">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title"> {% metric_contributions request %} </h3>
                            <p class="card-text">contributions</p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">{% metric_items_saved request %} </h3>
                            <p class="card-text">items saved from landfill </p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">{% metric_red_emissions request %} kg's</h3>
                            <p class="card-text">CO2 emission savings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="main-content" >
        {% block content%}{% endblock %}
    </div>
    <div id="footer">
        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Data source</h5>
          
                  <p>
                   Data used on this website is from the <a href ="https://catalog.data.gov/dataset/fsis-foodkeeper-data"> US Department of Agriculture FoodKeeper data.</a>
                  </p>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Image credits</h5>
          
                  <p>
                  Royalty free background image created by <a href = "https://pixabay.com/users/drabbitod-23650072/">drabbitod</a>
                  </p>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            WasteNot app
            </div>
            <!-- Copyright -->
          </footer>
    </div>
</body>
</html>