{% load tags %}
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet", href="{% static 'css/main.css' %}">
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet"/>
        
        <!--Chart.js CDN link-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <!--j-query-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <nav class="navbar navbar-expand-lg fixed-top navbar-scrolled">
            <a class="navbar-brand" href="{% url 'intro' %}" style="font-family:'Jost'; font-weight:500">wastelogr</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'add' %}">Contribute <span class="sr-only">(current)</span></a>
              </li>  
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'history' %}">Community impact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'food_tracker' %}">Food finder <span class="sr-only">(current)</span></a>
                </li>         
            </ul>
            </div>
        </nav>

</head>
<body>
    <div id = "header">

    </div>
    <div id="main-content" >
        {% block content%}{% endblock %}
    </div>
    <div id="footer">
        <footer class="bg-light text-center text-lg-start">
            <!-- Grid container -->
            <div class="container p-4">
              <!--Grid row-->
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Data source</h5>
          
                  <p>
                   Data used on this website is from the <a href ="https://catalog.data.gov/dataset/fsis-foodkeeper-data"> US Department of Agriculture FoodKeeper data.</a>
                  </p>
                </div>
                <!--Grid column-->
          
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Image credits</h5>
          
                  <p>
                  Royalty free background image created by <a href = "https://pixabay.com/users/drabbitod-23650072/">drabbitod</a>
                  </p>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </div>
            <!-- Grid container -->
          
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);font-family:'Jost'; font-weight:500">
            wastelogr
            </div>
            <!-- Copyright -->
          </footer>
    </div>
</body>
</html>