{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet", href="{% static 'css/main.css' %}">
        <nav class="navbar navbar-expand-lg navbar-transparent">
            <a class="navbar-brand" href="{% url 'food_tracker' %}">FoodTracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'food_tracker' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'history' %}">History <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            </div>
        </nav>

</head>
<body>
    <div id = "header">
        <div class = "pt-5">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">[200]</h3>
                            <p class="card-text">contributions </p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">[20]</h3>
                            <p class="card-text">items saved </p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">[123]</h3>
                            <p class="card-text">greenhouse gas emissions</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="main-content" >
        {% block content%}{% endblock %}
    </div>
    <div id="footer">
       <!-- Footer content-->
    </div>
</body>
</html>