<!DOCTYPE html>
<html>


<head>
    <title>Food waste Tracker</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .index-high {
            color: red;
        }
        .index-medium{
            color: orange;
        }
    
        .index-low {
            color: green;
        }
    </style>

    <script>
        // JavaScript function to show the pop-up and prevent form submission
        function showPopup() {
            alert('Response Saved!')
        }
    </script>

</head>

<body>  
    {% extends "tracker/base.html" %}
    {% load static %}
    {% block content %}

    <div class ="container">
        <div class ="row">
            
            <div class="col-md-6">
                <ul class = "list-group">
                    {% for i in food %}  
                        <li class = 'list-group-item'><h3>Food storage & usage tips</h3>  </li>
                        <li class = 'list-group-item'><b>Name: </b>                                {{ i.name }} </li>
                        <li class = 'list-group-item'><b>Keywords: </b>                            {{ i.keywords }} </li>
                        <li class = 'list-group-item'><b>Maximum days in pantry:</b>               {{ i.pantry_max_days }}</li>
                        <li class = 'list-group-item'><b>Maximum days in fridge:</b>               {{ i.refrigerate_max_days }}</li>
                        <li class = 'list-group-item'><b>Maximum days in fridge after opening:</b> {{ i.refrigerate_ao_max_days }}</li>
                        <li class = 'list-group-item'><b>Needs refrigeration?:</b>                 {{ i.fridge_needed }}</li>
                        <li class = 'list-group-item'><b>Can be frozen?</b>                        {{ i.freeze_recommended }}</li>
                        <li class = 'list-group-item'><b>Can be composted?</b>                     {{ i.compost }}</li>
                        <!-- Change font colour depending on food waste index value -->
                        <li class='list-group-item {% if food_item.food_waste_index == "High" %}index-high{% elif food_item.food_waste_index == "Medium" %}index-medium{% else %}index-low{% endif %}'> 
                            <font color = "#000000"><b>Food waste index: </b></font> {{i.food_waste_index}}</li>
                    {% endfor %}
                </ul>
                <div style="margin-bottom:30px">
                </div>
            </div>
                            <div style="margin-bottom:30px">
                </div>

            <div class = "col-md-6">
                <div class="card mb-7">
                    <div class="card-body">
                        <h3 class="card-title">Upcyling tips</h3>
                            <ul class="list-group list-group-flush">
                            {% for i in food %}
                                <p class="card-text">
                                    <li class="list-group-item"><b>Use:</b> Try out a new recipe! You can find minimal ingredient recipes <a href = "https://www.supercook.com/#/desktop"> here</a>.</li>
                                    {% if i.freeze_recommended == "Yes"  %} <li class ="list-group-item"><b>Freeze: </b>Put it in the freezer. Foods can keep in the freezer indefinitely but you may notice a decline in quality after 3-6 months.</li> {% endif %}
                                    {% if i.compost == "Yes"  %} <li class ="list-group-item"><b>Compost: </b>Feed it to your garden worms and create nutrient-rich soil. Find more information around how to compost <a href ="https://www.betterhealth.vic.gov.au/health/healthyliving/gardening-making-compost"> here</a>. </li> {% endif %}
                                    {% if i.fridge_needed == "No"  %}<li class="list-group-item"><b>Donate:</b> You can donate this item if it's not open. Find out more <a href = "https://www.foodbank.org.au/support-us/make-a-donation/donate-food/?state=vic"> here</a>.</li>{% endif %}
                                    <li class="list-group-item"><b>Throw it away (last resort): </b> If it smells off or if it's mouldy, throw it away.</li>
                                </p>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
                <div style="margin-bottom:30px">
                </div>
            </div>
        </div>
    </div>
    <div class ="container">
        <div class ="row">
            <div class="col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <h3 class="card-title">What will you do with this food item?</h3>
                    <form onsubmit="return showPopup()" action="" method="POST">
                    <!--<form action="" method="POST">-->
                            {% csrf_token %}
                        {{form.as_p}} <!-- defined in food() in views.py -->
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!--
    <div class ="container">
        <div class ="row">
            <div class="col-md-6">
            <div class="card mb-7">
                <div class="card-body">
                    <h3 class="card-title">What will you do with this food item?</h3>
                    <button type="button" onclick="alert('Thrown Away!')">Throw It Away</button>
                    <button type="button" onclick="alert('Upcycled!')">Upcycle</button>
                </div>
            
            </div>
            </div>
        </div>
    </div>
    -->

    {% endblock %}
</body>

</html>
