<!DOCTYPE html>
<html>
<head>
    <title>Food History</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    {% extends "tracker/base.html" %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet", href="{% static 'css/main.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4><font color = "#0915F6">Find out what other people did with their food </h4></font>
            
                <table id = "foodHistory" class="table table-bordered" style = "background-color: whitesmoke">
                    
                    <thead>
                        <tr>
                            <th>Food Name</th>
                            <th>Upcycle it</th>
                            <th>Throw it away</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in food_counts.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value.upcycled }}</td>
                                <td>{{ value.thrown_away }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No food history available.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    {% endblock %}
</body>
<script>
    $(document).ready(function () {
        $('#foodHistory').DataTable();
    });
</script>
</html>
