<!DOCTYPE html>
<html>
<head>
    <title>Food History</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">

</head>
<body class = "intro">
    {% extends "tracker/base.html" %}
    {% load tags %}
    {% load static %}
    {% block content %}
    <div class = "container" style="padding-top:10%">
      <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.0); border:0px " >
          <div class="card-body">
              <h1 class="card-title" style="font-size:55px"> Join the food waste revolution! </h1>
              <h4 class="card-text"> Together, we can reduce food waste and create a sustainable future. <br>Enter your data today to track our collective impact.</h4>
              <a class="btn btn-primary" href="{% url 'add' %}" role="button">Join now</a> &emsp;<a href = "{% url 'history' %}"><u>Learn how </u> </a>
          </div>
      </div>
    </div>

    <div class = "pt-5">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-4">
                    <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                        <div class="card-body">
                            <h1 class="card-title"> {% metric_contributions request %} </h1>
                            <p class="card-text">contributions to the <br>food waste dataset</p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                        <div class="card-body">
                            <h1 class="card-title">{% metric_items_saved request %} </h1>
                            <p class="card-text">items saved <br>from landfill </p>
                        </div>
                    </div>
                </div>
                <div class = "col-md-4">
                    <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                        <div class="card-body">
                            <h1 class="card-title">{% metric_red_emissions request %} kgs</h1>
                            <p class="card-text">of CO<sub>2</sub> emissions <br>saved (estimated)</p>
                        </div>
                    </div>
                </div>
          </div>
      </div>
      </div>

      <div class= "container">
        <div class = "row">
          <div class = "col-md-6">
            <div class="card mb-6 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                <div class="card-body">
                    <h1 class="card-title"> Top 5 upcycled foods </h1>
                    <p class="card-text"> </p>

                    <div>
                        <canvas id="myChart1"></canvas>
                    </div>    
                        
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                        <script>
                            var ctx = document.getElementById('myChart1');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                labels: [{% for key, value in top5_upcycled.items %} '{{ key }}', {% endfor %}],
                                datasets: [{    
                                    label: '',
                                    data: [{% for key, value in top5_upcycled.items %} '{{ value.upcycled }}', {% endfor %}],
                                    backgroundColor: ['rgba(75,192,192,1)'],
                                    borderColor: ['rgba(0,100,0,1)'],
                                    borderWidth: 3
                                }]
                                },
                                options: {
                                    indexAxis: 'y',
                                    plugins: {
                                        legend: {
                                            display: false},
                                        title: {
                                            display: false,
                                            text: 'Top 5 upcycled foods',
                                            font: {size: 35},
                                            padding:{top: 1, bottom: 1}}
                                    },
                                    scales: {
                                        x: {
                                            ticks:{font:{size: 15}},
                                            beginAtZero: true,
                                            grid:{drawOnChartArea: false}
                                        },
                                        y: {
                                            ticks:{font:{size: 15}},
                                            grid:{drawOnChartArea: false},
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                </div>
            </div>
        </div>
        <div class = "col-md-6">
            <div class="card mb-6 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                <div class="card-body">
                    <h1 class="card-title">Top 5 foods sent to landfill</h1>
                    <p class="card-text"></p>
                    <div>
                        <canvas id="myChart2"></canvas>
                    </div>    
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script>
                            var ctx = document.getElementById('myChart2');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                labels: [{% for key, value in top5_thrown.items %} '{{ key }}', {% endfor %}],
                                datasets: [{    
                                    label: 'Top 5 foods sent to landfill',
                                    data: [{% for key, value in top5_thrown.items %} '{{ value.thrown_away }}', {% endfor %}],
                                    backgroundColor: ['rgba(255,99,132,1)'],
                                    borderColor: ['rgba(100,0,0,1)'],
                                    borderWidth: 3
                                }]
                                },
                                options: {
                                indexAxis: 'y',
                                plugins: {
                                    legend: {
                                        display: false},
                                    title: {
                                        display: false,
                                        text: 'Top 5 foods sent to landfill',
                                        font: {size: 35},
                                        padding:{top: 1, bottom: 1}}
                                },
                                scales: {
                                    x: {
                                        ticks:{font:{size: 15}},
                                        beginAtZero: true,
                                        grid:{drawOnChartArea: false}
                                        },
                                    y: {
                                        ticks:{font:{size: 15}},
                                        beginAtZero: true,
                                        grid:{drawOnChartArea: false}
                                    }
                                }
                                }
                            });
                        </script>
                </div>
            </div>
        </div>
        </div>
      </div>

      <div class = "pt-4"></div>

{% endblock %}
</body>

</html>