<!DOCTYPE html>
<html>
<head>
    <a id = "top"></a>
    <title>wastelogr - track your food waste today!</title>
    <link rel="icon" href="/static/img/logo.ico" type="image/x-icon" />
    
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">

</head>
<body class = "intro">
    {% extends "tracker/base.html" %}
    {% load tags %}
    {% load static %}
    {% block content %}

    <div class = "container" style="padding-top:10%">
      <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.0); border:0px " >
          <div class="card-body">
              <h1 class="card-title" style="font-size:55px" font-color: "blue" > Join the food waste revolution! </h1>
              <div style="padding-top:2%"></div>
              <h4 class="card-text"> Together, we can reduce food waste and create a sustainable future. <br>Enter your data today to track our collective impact.<br></h4>
              <div style="padding-top:3%"></div>
              <a class="btn btn-primary btn-lg" href="{% url 'add' %}" role="button">Get started</a> 
              <a class="btn btn-link btn-lg" href="#community-impact" role="button">Learn more</a>
               
            </div>
      </div>
    </div>
    <section id = "community-impact">
    <div style="padding-bottom:0%"></div>
    <hr class="solid">
    
    
    <div class = "container" style="padding-top:0%">
        <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.0); border:0px " >
            <div class="card-body">
                <p class="card-text text-center " style="color: rgba(255, 128, 0)">COMMUNITY IMPACT</p>
                <h1 class="card-title text-center" style="font-size:40px"> 
                    Help us track and reduce food waste
                </h1>
                <p class="card-text text-center pt-1">
                    wastelogr has helped reduce food in landfill and greenhouse gas emissions<br>
                    through tracking food waste and education<br>
                </p>
              </div>
        </div>
      </div>
    
    <div class = "pt-1">
        <div class = "container">
            <div class = "row justify-content-center">

                <div class = "col-md-3">
                    <div class="card mb-3 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                        <img class = "card-img" src="/static/img/lblue_data_entry.png">
                            <div class ="card-img-overlay">
                            <div class="card-body" id="card-body">
                                <h1 class="card-title"> {% metric_contributions request %} </h1>
                                <p class="card-text">Contributions to the <br>wastelogr dataset</p>
                            </div>
                            </div>
                    </div>
                </div>

                <div class = "col-md-3">
                    <div class="card mb-3 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                        <img class = "card-img" src="/static/img/lblue_landfill.png">
                        <div class = "card-img-overlay">
                            <div class="card-body">
                                <h1 class="card-title">{% metric_items_saved request %} </h1>
                                <p class="card-text">Food items saved <br>from landfill </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "col-md-3">
                    <div class="card mb-2 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                        <img class = "card-img" src="/static/img/lblue_air-pollution.png">
                        <div class = "card-img-overlay">
                            <div class="card-body">
                                <h1 class="card-title">{% metric_red_emissions request %}</h1>
                                <p class="card-text">Kilograms of CO<sub>2</sub> emissions saved </p>
                            </div>
                        </div>    
                    </div>
                </div>

            </div>
      </div>
    </div>
    <div style="padding-bottom:0%"></div>
    </section>


    <div class = "container" >
        <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.0); border:0px " >
            <div class="card-body">
                <div style="padding-top:1%"></div>
                <a class="btn btn-primary btn-lg" href="{% url 'history' %}" role="button">See our impact</a>
            </div>
        </div>
      </div>
  
      <hr class="solid">

    <section id ="our-work">
    <div class = "pt-1">
        <div class = "container" style="padding:0%">
            <div class = "row">
                <div class = "col-md-12">
                    <p class="card-text text-center" style="color: rgba(255, 128, 0)"> OUR WORK</p>
                    <h1 class="card-title text-center" style="font-size:40px"> 
                        "If you cannot measure it, you cannot improve it"<br>
                    </h1>
                    <h4 class = "text-center">- Lord Kelvin</h4>             

                    <p class="card-text text-center pt-2">
                        At wastelog, we tackle food waste's data gaps by fostering a community-driven approach. <br>
                        Our platform tracks community food waste, and identifies areas for improvement. <br>
                        We also provide practical tips for food storage and upcycling, encouraging sustainable habits for a greener future. <br>
                        Join us in building a community that values mindful consumption.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
            
    <div class = "pt-3 pb-3">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-12">
                    <div class="card-body text-center">
                        <div style="padding-top:0%"></div>
                            <a class="btn btn-primary btn-lg" href="{% url 'add' %}" role="button">Contribute your food waste data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-bottom:0%"></div>

    <hr class="solid">


    <section id = "why-we-care-1">
        <div class = "container" style="padding-top:0%">
            <div class="card mb-4 text-center" style="background-color: rgba(245, 245, 245, 0.0); border:0px " >
                <div class="card-body">
                    <p class="card-text text-center" style="color: rgb(255, 128, 0);">WHY WE CARE</p>
                    <h1 class="card-title text-center" style="font-size:40px"> 
                        Why our commitment to food waste matters<br>
                        and why it should matter to you
                    </h1>
                    <p class="card-text text-center pt-2">
                        1.33 trillion kilograms of food are thrown away each year. <br>
                        That's approximately the weight of 7 million blue whales! <br>
                    </p>
                </div>
            </div>
          </div>
        
        <div class = "pt-1">
            <div class = "container">
                <div class = "row justify-content-center">
    
                    <div class = "col-md-3">
                        <div class="card mb-3 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                            
                            <img src="/static/img/garbage.png" style="width: 150px; height: 150px; margin:auto" class="card-img-top pt-1" alt="">
                            <div class="card-body" id="card-body">
                                <h1 class="card-title">30%</h1>
                                <p class="card-text">
                                    Households generate the most food waste by sector, at 30%. Your efforts matter.
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
    
                    <div class = "col-md-3">
                        <div class="card mb-3 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                            <div class="mt-auto">
                                <img src="/static/img/methane.png" style="width: 150px; height: 150px; margin: auto" class="card-img-top pt-1" alt="">
                            </div>
                            <div class="card-body">
                                <h1 class="card-title">10%</h1>
                                <p class="card-text">
                                    Food waste constitutes 10% of greenhouse gas emissions — flying is only 3.8%!
                            </p>
                            </div>
                        </div>
                    </div>
    
                    <div class = "col-md-3">
                        <div class="card mb-2 text-center" style="background-color: rgba(245, 245, 245, 0.4); " >
                            <img src="/static/img/money_trash.png" style="width: 150px; height: 150px; margin:auto" class="card-img-top pt-1" alt="">
                            <div class="card-body">
                                <h1 class="card-title">$2,500</h1>
                                <p class="card-text"> 
                                    That's how much money <br>you could 
                                    save per year <br> by reducing your 
                                    household food waste!
                                   
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
          </div>
        </div>
    
        <div class = "pt-3 pb-5">
            <div class = "container">
                <div class = "row">
                    <div class = "col-md-12">
                        <div class="card-body text-center">
                            <div style="padding-top:1%"></div>
                                <a class="btn btn-primary btn-lg" href="{% url 'food_tracker' %}" role="button">
                                    Learn how
                                </a> <br> <br> <br>
                                <a href = "#top"> Back to top </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </section>


{% endblock %}
</body>

</html>