
<!DOCTYPE html>
<html>
<head>
    <title>Get food information</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

    {% extends "tracker/base.html" %}
    {% block content %}

    <div class = "container">
        <div class = "row">
            <div class="col-md-12">
             
    
        
            <h1><font color = "#000000">Find food storage and usage information</h1></font>
            <form method="get">
                <div class="form-group">
                    <input type="text" id="searchInput" class="form-control" placeholder="Start typing food name">
                </div>
            </form>
            <div class = "card">
        <table class="table w-auto table-responsive-lg" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Keywords</th>
                    <th> </th>
                    
                </tr>
            </thead>
            <tbody>
                {% if food_tracker %}
                {% for food in food_tracker %}
                    <tr>
                        <td>{{ food.name }}</td>
                        <td>{{ food.name_subtitle | truncatechars:30 }}</td>
                        <td >{{ food.keywords | truncatechars:30 }}</td>
                        <td><a href ="{% url 'food_advice' food.id %}">View</a></td>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">No food purchases available.</td>
                </tr>
            {% endif %}
            </tbody>
            </table>
            </div>
            </div>

         </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- jquery -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>

<!-- JavaScript for dynamic searching -->
<script>
    $(document).ready(function() {
        $("#searchInput").on("keyup", function() {
            var searchText = $(this).val().toLowerCase();
            $("tbody tr").each(function() {
                var rowText = $(this).text().toLowerCase();
                if (rowText.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
        $('#foodSearch').DataTable({"dom": '<"top"i>rt<"bottom"flp><"clear">' } );
        
    });



</script>

{% endblock %}
</body>
</html>


