body {
  background-image: url('/static/img/orange_faded.png'), url('/static/img/yellow_faded.png');
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 35%, 35%;
  background-attachment: fixed;
}

body.intro {
  background-image: url('/static/img/orange_faded.png'), url('/static/img/yellow_faded.png');
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 35%, 35%;
  background-attachment: fixed;
  
}

/* Solid border */
hr.solid {
  border-top: 4px solid rgba(211,211,211,0.5);
  width: 825px;
  margin-top: 3%;
  margin-bottom: 3%;  
}

/* Rounded border */
hr.rounded {
  border-top: 4px solid rgba(211,211,211,0.5);
  border-radius: 5px;
  width: 825px;
}
img.card-img {
  height: 60%;
  width: 60%;
  transform:translate(35%);

}

div.card-img-overlay {
  position: absolute; 
  background: rgb(255, 254, 254, 0.8);

  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.card-title{
  font-family: 'Jost';
  font-weight: 500;
}

h2.card-title{
  font-family: 'Jost';
  font-weight: 500;
  text-align: center;

}
h4.card-text{
  font-family: 'Jost';
  font-weight: 400;
}
p.card-text{
  font-family: 'Jost';
  font-size:20px
}

div.first {
  /*setting alpha = 0.6*/
  background: rgba(232, 233, 232, 0.756);
}

table.foodHistory {
  background-color: whitesmoke;
  width: 80%;}
  /*font-size: 13px;
  direction: rtl;
  position: relative;
  clear: both;

  zoom: 1;
}*/

nav.navbar-scrolled{
  background-color: rgb(235, 235, 235, 0.5);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top:10%;
}

