body {
    background-image: url('/static/img/lemons.png');
    background-repeat: repeat-y;
}

html.intro,body.intro {
  font-family: 'Raleway', sans-serif;
  padding: 6em 2em;
  font-size: 25px;
  color: #1a28a1
}

div.first {
  /*setting alpha = 0.6*/
  background: rgba(232, 233, 232, 0.756);
}

table.foodHistory {
  font-family: tahoma;
  font-size: 13px;
  direction: rtl;
  position: relative;
  clear: both;

  zoom: 1;
}
