body {
    background-image: url('/static/img/lemons.png');
    background-repeat: repeat-y
}

body.intro {
  background-image: url('/static/img/orange_faded.png'), url('/static/img/yellow_faded.png');
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: 35%, 35%;
  background-attachment: fixed;
  
}

h1.card-title{
  font-family: 'Jost';
  font-weight: 500;
}
h4.card-text{
  font-family: 'Jost';
  font-weight: 400;
}
p.card-text{
  font-family: 'Jost';
  font-size:20px
}

div.first {
  /*setting alpha = 0.6*/
  background: rgba(232, 233, 232, 0.756);
}

table.foodHistory {
  font-size: 13px;
  direction: rtl;
  position: relative;
  clear: both;

  zoom: 1;
}
